/**/bin
/**/gen
/**/local.properties
/**/signing.properties
/**/projectRestoreData
/**/tmp
/**/test-reports
/**/test-report-html
/**/build
/**/*.iml
**/.idea/*
out/
captures/
.gradle
local.properties
app/src/main/res/raw/third_party_license_metadata
app/src/main/res/raw/third_party_licenses
.DS_Store
.gradletasknamecache

# Crashlytics
app/src/main/assets/crashlytics-build.properties
app/src/main/res/values/com_crashlytics_export_strings.xml
app/*.tap
sonar-project.properties
/app/src/main/res/raw/third_party_license_metadata
/app/src/main/res/raw/third_party_licenses
/app/build.gradle
